<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>


    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <!-- custom stylesheet -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/master.css' %}">


</head>
<body>

    <!-- navbar start -->
    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
        <a href="#" class="navbar-brand">
            Hirex
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <!-- <div class="navbar-nav">
                <a href="#" class="nav-item nav-link active">Home</a>
                
            </div> -->
            <div class="navbar-nav ml-auto">
                <a href="https://www.twine.fm/nagasai" class="nav-item nav-link">Need me?</a>

                <a href="#" class="nav-item nav-link">Login</a>
                <a href="#" class="nav-item nav-link">Sign Up</a>
                
            </div>
        </div>
    </nav>
    <!-- navbar end -->

    
    <div class="main_content">
        {% block main_content %}
        {% endblock %}
    </div>
    



</body>
</html>